<p>number one: {{(state$ | async).firstNumber}}</p>
<input #firstNumber type="number"
    (keyup.enter)="updateFirstNumber(firstNumber.value)"
    [value]="(state$ | async).firstNumber"
/>

<hr/>

<p>number two: {{(state$ | async).secondNumber}}</p>
<input #secondNumber type="number"
(keyup.enter)="updateSecondNumber(secondNumber.value)"
[value]="(state$ | async).secondNumber"
/>

<hr/>

<p>operation: {{(state$ | async).operation}}</p>

result: {{result}}

<hr/>

<button (click)="updateFromServer()"> update from server!</button>
